# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Kafka data
kafka*/data/
kafka*/logs/
kafka*/__consumer_offsets*/
kafka*/meta.properties
kafka*/partition.metadata
kafka*/recovery-point-offset-checkpoint
kafka*/replication-offset-checkpoint
kafka*/cleaner-offset-checkpoint
